
#root {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-graph-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-self: stretch;
  align-items: stretch;
  text-align: center;
  margin-top: 64px; /* make room for header */
}
