
.App {
  display: flex;
}

.App-intro {
  font-size: large;
}

.App-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.App-modal-content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  opacity: 1;
  overflow: auto;
  /*WebkitOverflowScrolling: touch;*/
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 4;
}
