
.App {
  width: 100%;
  height: 100vh;
}

.App-graph-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-self: stretch;
  align-items: stretch;
}

.App-no-graph-label {
  align-self: center;
  margin: auto;
/*  padding-top: 150px;
  padding-left: 450px;*/
}

.App-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 90;
}

.App-modal-content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  opacity: 1;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 91;
}

/*.App-modal-content::-webkit-scrollbar { 
    display: none; 
}*/
