
.ContractForm-formContainer {
  align-content: center;
}

.ContractForm-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px; /* mui:nested */
}

.ContractForm-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}