
.temp {
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

.ContractForm-formContainer {
    align-content: center;
}

.ContractForm-form {
    padding-top: 65px;
    vertical-align: middle;
    align-self: center;
    width: 75%;
    padding-left: 25%;
}
