
.Header {
  display: flex;
  background-color: #333;
  height: 90px;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.Header-title {
  font-size: 1.5em;
  padding-left: 20px;
}

.Header-items {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.Header-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Header-info-label {
  font-size: 1.0em;
}

.Header-links {
  display: flex; // eliminates space between for some reason
  flex-direction: row;
  justify-content: flex-end;
}

.Header-link {
  color: white;
  text-decoration: underline;
}

.Header-active-link {
  color: red;
}
